html {
    font-size: 16px;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', 'Source Sans Pro', Arial, sans-serif;
    background-color:#000000;
}

.container { 
    height:100vh;
    width:100vw;
    display: grid;
    margin: 0;
    padding: 0;
    overflow: hidden;
    grid-template-rows: 7% 8% 60% 10% 15%; 
    grid-template-columns: 7% 30% 26% 30% 7%; 
    grid-template-areas:  
    "git-don git-don logo help-map help-map" 
    ". . . . ."
    ". data data data ." 
    ". rums-all rums-all rums-all ."
    ". . . . .";
}

/*BAR*/
git-don {
    grid-area: git-don;
    color: black;
    font-size: 0.8rem;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #c5c5c5;
    z-index: 1000;
}

github {
    padding-left: 5px;
    padding-right: 25px;
}

donate {
    padding-left: 5px;
    padding-right: 25px;
}

logo {
    grid-area: logo;
    color: #c5c5c5;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

help-map {
    grid-area: help-map;
    font-size: 0.8rem;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.6);
    color: #c5c5c5;
    z-index: 1000;
}

/* schwitsch */
schwitsch {
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 5px;
}

/* box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #c5c5c5;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #000000;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/*DATA-INPUT*/
data {
    width: auto;
    height: auto;
    grid-area: data;
    position: relative; 
    font-size: 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: hidden;
    pointer-events: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

rums-all {
    grid-area: rums-all;
    z-index: 1000;
    position: relative;
    margin-top: 25px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid black;*/
    font-size: 1rem;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

oben {
    width: 100%;
    height: 25%;
    /*min-height: 100px;*/
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

unterseite {
    width: 100%;
    height: 75%;
    /*min-height: 200px;*/
    overflow-y: auto;
}

unten {
    width: 100%;
    height: 33.33%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dashed black;
}

weiter {
    width: 100%;
    height: 33.33%;
    display: flex;
    flex-wrap: wrap;
}

yellow {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end;
    justify-content: center;
    font-size: 0.5rem;
    background-color: rgba(242, 255, 0, 0.5);
}

magenta {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: rgba(255, 0, 255, 0.5);
}

cyan {
    background-color: rgba(0, 255, 255, 0.5);
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    justify-content: center;
    font-size: 0.5rem;
}

green {
    background-color: rgba(60, 255, 0, 0.5);
    width: 50%;
    height: 100%;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

purple {
    width: 100%;
    height: 100%;
    background-color: rgba(76, 0, 255, 0.3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    gap:25%;
}

magentaline{
    position: relative;
    bottom: 0px;
    left: -50%;
    width: 100%;
    border-bottom: 1px dashed rgb(0, 0, 0);
    z-index: -1;
}

greenline{
    position: relative;
    width: 100%;
    left: -50%;
    border-bottom: 1px dashed rgb(0, 0, 0);
}

preview {
    width: 50%;
    height: 98px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

newlay {
    width: 25%;
    height: 33px;
    background-color: #26ce00;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

deletelay {
    width: 25%;
    height: 33px;
    background-color: #26ce00;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

control {
    position: absolute;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    color: #c5c5c5;
    font-size: 0.8rem;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

epsg-vote {
    position: absolute;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    color: #c5c5c5;
    font-size: 0.8rem;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

globe-area {
    position: absolute;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #878787;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px 0 0 15px;
    left: -1px;
}

#epsg-input {
    position: absolute;
    width: 98px;
    height: 18px;
    color:#000000;
    background-color: #c5c5c5;
    margin-left: 40px;
    border-radius: 0 10px 10px 0;
    font-size: 0.8rem;
    padding:3px;
    border: 0px;
}

#epsg-check {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    right: 5px;
}

hole-back {
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    top: 50%;
    left:-16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

hole-next {
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

hole-kill {
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    top: -16px;
    left: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

hole-make{
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    top: -16px;
    right: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

make-rums {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    bottom: -31px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

scale {
    /*grid-area: scale;*/
    position: absolute;
    bottom: 30px;
    font-size: 0.5rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

north {
    position: absolute;
    font-size: 0.5rem;
    width: auto;
    height: 18px;
    padding-left: 5px;
    top: -20px;
    right: -1px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px 5px 0px 0px;
    color: #c5c5c5;
    border: 1px solid rgb(0, 0, 0);
}

drill {
    position: absolute;
    font-size: 0.5rem;
    width: auto;
    height: 18px;
    padding-right: 5px;
    top: -20px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px 5px 0px 0px;
    color: #c5c5c5;
    border: 1px solid rgb(0, 0, 0);
}

/*DOWN-UNDER*/

copyright {
    position: absolute;
    height: 24px;
    width: 78px;
    left: 15px;
    bottom: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: left;
    z-index: 1000;
}

#testo {
    border-radius: 50%;
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
    object-fit: cover;
    padding: 0;
    margin:0;
}

#osm {
    border-radius: 50%;
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
    object-fit: cover;
    margin-left: 5px;
}

#leaflet {
    border-radius: 50%;
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
    object-fit: cover;
    margin-left: 5px;
}

license {
    position: absolute;
    height: 24px;
    width: 111px;
    right: 15px;
    bottom: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: right;
    z-index: 1000;
}

/* MAP */

#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
}