html {
    font-size: 16px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', 'Source Sans Pro', Arial, sans-serif;
    background-color:#000000;
}

.container { 
    height:100vh;
    width:100vw;
    display: grid;
    margin: 0;
    padding: 0;
    overflow: hidden;
    grid-template-rows: 7% 16% 65% 12%; 
    grid-template-columns: 7% 30% 26% 30% 7%; 
    grid-template-areas:  
    "git-don git-don logo help-map help-map" 
    ". control control control ."
    ". data data data ." 
    ". . . . .";
}

/*BAR*/
git-don {
    grid-area: git-don;
    color: black;
    font-size: 0.8rem;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #c5c5c5;
    z-index: 1000;
}

github {
    padding-left: 5px;
    padding-right: 25px;
}

donate {
    padding-left: 5px;
    padding-right: 25px;
}

logo {
    grid-area: logo;
    color: #c5c5c5;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

help-map {
    grid-area: help-map;
    font-size: 0.8rem;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.6);
    color: #c5c5c5;
    z-index: 1000;
}

/*SWITCH*/
schwitsch {
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #c5c5c5;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #000000;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
/*CONTROLLER*/
control {
    grid-area: control;
    background-color: rgba(0, 0, 0, 0.6);
    color: #c5c5c5;
    font-size: 0.8rem;
    width: 150px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/*DATA-INPUT*/
data {
    width: 86%;
    height: auto;
    grid-area: data;
    position: absolute;
    top: 23vh;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    background-color: hidden;
    pointer-events: none;
    z-index: 1000;
}

yellow {
    position: absolute;
    /*background-color: rgba(255, 255, 0, 0.5);*/
    width: 50%;
    height: 30%;
    min-height: 100px;
    top:0;
    left:0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end;
    justify-content: center;
    font-size: 0.5rem;
}

magenta {
    position: absolute;
    /*background-color: rgba(255, 0, 255, 0.5);*/
    width: 50%;
    height: 30%;
    min-height: 100px;
    top:0;
    right:0;
    display: flex;
    align-items: end;
    justify-content: center;
}

magentaline{
    position: absolute;
    bottom: 0px;
    left: -50%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    z-index: -1;
}

epsg-vote {
    position: absolute;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

globe-area {
    position: absolute;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #878787;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px 0 0 15px;
    left: -1px;
}

#epsg-input {
    position: absolute;
    width: 98px;
    height: 18px;
    color:#000000;
    background-color: #c5c5c5;
    margin-left: 40px;
    border-radius: 0 10px 10px 0;
    font-size: 0.8rem;
    padding:3px;
    border: 0px;
}

#epsg-check {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    right: 5px;
}

hole-back {
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    top: 50%;
    left:-16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
hole-next {
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
hole-kill {
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    top: -16px;
    left: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
hole-make{
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    top: -16px;
    right: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

make-rums {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    bottom: -31px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

scale {
    position: absolute;
    font-size: 0.5rem;
    width: auto;
    height: 18px;
    bottom: -25px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
}

north {
    position: absolute;
    font-size: 0.5rem;
    width: auto;
    height: 18px;
    padding-left: 5px;
    bottom: -25px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/*DOWN-UNDER*/

copyright {
    position: absolute;
    height: 24px;
    width: 78px;
    left: 15px;
    bottom: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: left;
    z-index: 1000;
}

#testo {
    border-radius: 50%;
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
    object-fit: cover;
    padding: 0;
    margin:0;
}

#osm {
    border-radius: 50%;
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
    object-fit: cover;
    margin-left: 5px;
}

#leaflet {
    border-radius: 50%;
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
    object-fit: cover;
    margin-left: 5px;
}

license {
    position: absolute;
    height: 24px;
    width: 111px;
    right: 15px;
    bottom: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: right;
    z-index: 1000;
}

/*MAP*/
#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /*filter: blur(4px);*/
}