html {
    font-size: 16px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    font-family: 'Open Sans', 'Source Sans Pro', Arial, sans-serif;
    background-color:#000000;
}

deleteborehole {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
}

newborehole {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
}

circleplus {
    width: 100px;
    height: 100px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

createmodel {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    z-index: 1000;
}

circlegear {
    width: 100px;
    height: 100px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container { 
    height:100vh; 
    display: grid;
    margin: 0;
    padding: 0;
    overflow: hidden;
    grid-template-rows: 8% 12% 2% 65% 13%; 
    grid-template-columns: 7% 30% 26% 30% 7%; 
    grid-template-areas:  
    "header header logo help help" 
    ". epsg numcircle subject ."
    ". . . . ."
    ". data data data ." 
    ". . . . .";
}

header {
    grid-area: header;
    color: black;
    font-size: 1rem;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

logo {
    grid-area: logo;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/*CONTROLL-CENTER*/

numcircle {
    grid-area: numcircle;
    position: relative;
    width: 60px;
    height: 60px;
    aspect-ratio: 1 / 1;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.5rem;
}

#epsg-input {
    position: absolute;
    width: 80px;
    height: 20px;
    background-color:#c5c5c5;
    margin-right: 170px;
    z-index: 1000;
    border: 1px solid #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 0.8rem;
}

#epsg-check {
    position: absolute;
    margin-right: 110px;
    z-index: 1000;
}

subject {
    position: absolute;
    width: 80px;
    height: 20px;
    background-color:#000000;
    margin-left: 170px;
    z-index: 1000;
    border: 1px solid #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 0.8rem;
    color:#c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
}

dotholes {
    position: absolute;
    width: auto;
    height: 20px;
    margin-top: 90px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

dots {
    width: 10px;
    height: 10px;
    aspect-ratio: 1 / 1;
    background-color: #000000;
    border-radius: 50%; /* Macht das Element rund */
    display: flex;
    align-items: center;
    justify-content: center;
}

dotborder {
    width: 14px;
    height: 14px;
    aspect-ratio: 1 / 1;
    border-radius: 50%; /* Macht das Element rund */
    border: 1px solid #000000; /* Schwarzer Rand */
    display: flex;
    align-items: center;
    justify-content: center;
}/*END*/

/*DATA-INPUT*/
navtopleft {
    position: absolute;
    font-size: 1rem;
    top: -40px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
}
data {
    width: 90%;
    height: 80%;
    grid-area: data;
    position: relative;
    font-size: 1rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
navtopright {
    position: absolute;
    font-size: 1rem;
    top: -40px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
}/*END*/

/*HEADER*/
rums {
    padding-left: 5px;
    padding-right: 25px;
}

donate {
    padding-left: 5px;
    padding-right: 25px;
}

help {
    grid-area: help;
    font-size: 1rem;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.5);
}/*END*/

/*SWITCH*/
schwitsch {
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #c5c5c5;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #63b85d;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }/*END*/

copyright {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: auto;
    height: auto;
    grid-template-columns: auto auto;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

copyright img {
    border-radius: 50%; /* Macht das Bild rund */
    border: 1px solid #000000; /* Fügt einen schwarzen Rand hinzu */
    width: 2em; /* Größe des Bildes */
    height: 2em; /* Stellt sicher, dass das Bild quadratisch bleibt */
    object-fit: cover; /* Schneidet das Bild passend zu einem Kreis zu */
}

.element {
    width: auto;
    height: auto;
  }

license {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: auto;
    height: auto;
    grid-template-columns: auto auto auto auto;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}