html {
    font-size: 16px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    font-family: 'Open Sans', 'Source Sans Pro', Arial, sans-serif;
}

newborehole {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

createmodel {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}

circleplus {
    width: 100px;
    height: 100px;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

circlegear {
    width: 100px;
    height: 100px;
    background-color:#000000;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container { 
    height:100vh; 
    display: grid;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #c5c5c5;
    grid-template-rows: 8% 10% 3% 65% 14%; 
    grid-template-columns: 7% 40.5% 5% 40.5% 7%; 
    grid-template-areas:  
    "header header header header make" 
    "navtopleft epsg number subject navtopright"
    "points points points points points"
    "navleft data space preview navright" 
    "foot1 foot2 generate foot4 foot5";
} 

/*@media screen and (min-width: 44.001em) { 
    .container {
        height:100vh; 
        display: grid;
        margin: 0;
        overflow: hidden;
        grid-template-rows: 5% 45% 45% 5%; 
        grid-template-columns: 1rem 1rem 1rem;; 
        grid-template-areas:  
            "header header header" 
            "preview viewer map"
            "comments psets ai"
            "footer footer footer" 
        ;
    } 
}*/

header {
    grid-area: header;
    background: #c5c5c5;
    color: black;
    font-size: 0.9rem;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

points {
    grid-area: points;
    background: #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
}

navtopleft {
    grid-area: navtopleft;
    background: #c5c5c5;
    font-size: 1rem;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

epsg {
    grid-area: epsg;
    background: #c5c5c5;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15px;
}

number {
    grid-area: number;
    background: #c5c5c5;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

subject {
    grid-area: subject;
    background: #c5c5c5;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

navtopright {
    grid-area: navtopright;
    background: #c5c5c5;
    font-size: 1rem;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
}

navleft {
    grid-area: navleft;
    background: #c5c5c5;
    font-size: 1rem;
}

data {
    grid-area: data;
    background: #c5c5c5;
    font-size: 1rem;
    margin: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

space {
    grid-area: space;
    background: #c5c5c5;
    font-size: 1rem;
}

preview {
    grid-area: preview;
    background: #c5c5c5;
    font-size: 1rem;
    margin: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

navright {
    grid-area: navright;
    background: #c5c5c5;
}

foot1 {
    grid-area: foot1;
    background: #c5c5c5;
    font-size: 1rem;
    margin: 0;
}

foot2 {
    grid-area: foot2;
    background: #c5c5c5;
    font-size: 1rem;
}

generate {
    grid-area: generate;
    background: #c5c5c5;
    font-size: 1rem;
}

foot4 {
    grid-area: foot4;
    background: #c5c5c5;
    font-size: 1rem;
}

foot5 {
    grid-area: foot5;
    background: #c5c5c5;
    font-size: 1rem;
}

rums {
    padding-left: 5px;
    padding-right: 25px;
}

github {
    padding-left: 5px;
    padding-right: 25px;
}

stats {
    padding-left: 5px;
    padding-right: 25px;
}

license {
    padding-left: 5px;
    padding-right: 25px;
}

mail {
    padding-left: 5px;
}

make {
    grid-area: make;
    background: #c5c5c5;
    font-size: 1rem;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
}

circle {
    width: 60px;
    height: 60px;
    aspect-ratio: 1 / 1;
    background-color:#c5c5c5;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 1.5rem;
}

dots {
    width: 10px;
    height: 10px;
    background-color:#000000;
    border-radius: 50%;
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: 2px;
}

input {
  width: 100px;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background-color:#c5c5c5;
}
